
/* Conteneur de la roue = cercle rose extérieur */
.wheel-container {
  display: block;
  position: sticky;
  box-sizing: content-box;
  width: calc(400px + 2 * 5px);
  height: calc(400px + 2 * 5px);
  padding: 3px;
  margin-left: 100px;
  background-color: white;
  border: solid #8e779f 3px;
  border-radius: 50%;
  user-select: none;
  float: left;
}

/* Triangle de sélection = 1 rose +  1 blanc */
.wheel-container::before,
.wheel-container::after {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: solid transparent 20px;
  border-left-width: 0;
}

.wheel-container::before {
  right: 0px;
  border-right-color: #8e779f;
}

.wheel-container::after {
  right: -5px;
  border-right-color: white);
}

/* Roue */
.wheel {
  display: block;
  position: relative;
  box-sizing: content-box;
  margin: auto;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  border: solid #8e779f 5px;
  background-color: #8e779f;
  transition: transform 0.25s;
  transform: rotate(0deg);
  cursor: pointer;
}

.wheel.spinning {
  transition: transform 4s;
  transform: rotate(
    calc(
      5 * 360deg +
        (-360deg * var(--selected-item) / var(--nb-item, 1))
    )
  );
}

/* Centre de la roue = rond blanc au centre */
.wheel::after {
  display: block;
  position: absolute;
  content: "";
  background-color: white;
  width: 25px;
  height: 25px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* Element sur la roue */
.wheel-item {
  display: block;
  position: absolute;
  box-sizing: border-box;
  /* position de l'item */
  top: 50%;
  left: 50%;
  width: 50%;
  transform-origin: center left;
  transform: translateY(-50%)
    rotate(calc(var(--item-nb) * (360deg / var(--nb-item, 1))));
  color: white;
  text-align: right;
  padding: 0 25px 0 50px;
  font-family: "Lato", "Quicksand", sans-serif;
}

/* Background de l'élément = triangle rose plus clair */
.wheel-item:before {
  content: " ";
  display: block;
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0px;
  opacity: 0.25;
  --slice-max-width: calc(
    3.14159265358979 * 400px + 400px / 2
  );
  --slice-width: calc(
    (var(--slice-max-width) / var(--nb-item)) - 50px
  );
  border: solid transparent calc(var(--slice-width) / 2);
  border-left: solid transparent 0;
  /* profondeur du triangle = du centre de la roue à la bordure = 300px / 2 */
  border-right: solid white calc(400px / 2);
}
