wheel-container {
  display: block;
  position: sticky;
  box-sizing: initial;
  width: 410px;
  height: 410px;
  padding: 3px;
  margin-left: 100px;
  background-color: #fff;
  border: 3px solid #8e779f;
  border-radius: 50%;
  -webkit-user-select: none;
  user-select: none;
  float: left;
}
.wheel-container:after,
.wheel-container:before {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  border: 20px solid transparent;
  border-left-width: 0;
}
.wheel-container:before {
  right: 0;
  border-right-color: #8e779f;
}
.wheel-container:after {
  right: -5px;
  border-right-color: #fff;
}
.wheel {
  display: block;
  position: relative;
  box-sizing: initial;
  margin: auto;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #8e779f;
  background-color: #8e779f;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
.wheel.spinning {
  transition: -webkit-transform 4s;
  transition: transform 4s;
  transition: transform 4s, -webkit-transform 4s;
  -webkit-transform: rotate(calc(5turn + -360deg * var(--selected-item) / 1));
  transform: rotate(calc(5turn + -360deg * var(--selected-item) / 1));
  -webkit-transform: rotate(
    calc(5turn + -360deg * var(--selected-item) / var(--nb-item, 1))
  );
  transform: rotate(
    calc(5turn + -360deg * var(--selected-item) / var(--nb-item, 1))
  );
}
.wheel:after {
  display: block;
  position: absolute;
  content: "";
  background-color: #fff;
  width: 25px;
  height: 25px;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.wheel-item {
  width: 50%;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-transform: translateY(-50%) rotate(calc(var(--item-nb) * 360deg));
  transform: translateY(-50%) rotate(calc(var(--item-nb) * 360deg));
  -webkit-transform: translateY(-50%)
    rotate(calc(var(--item-nb) * 360deg / var(--nb-item, 1)));
  transform: translateY(-50%)
    rotate(calc(var(--item-nb) * 360deg / var(--nb-item, 1)));
  color: var(--neutral-color);
  text-align: right;
  padding: 0 25px 0 50px;
  font-family: "Lato", "Quicksand", sans-serif;
}
.wheel-item,
.wheel-item:before {
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
}
.wheel-item:before {
  content: " ";
  z-index: -1;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 0;
  opacity: 0.25;
  --slice-max-width: 1456.63706px;
  --slice-width: calc(var(--slice-max-width) / var(--nb-item) - 50px);
  border: calc(var(--slice-width) / 2) solid transparent;
  border-left: 0 solid transparent;
  border-right: 200px solid #fff;
}
